{% extends 'base.html.twig' %}

{% block title %}Modifier un animal{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier l'animal : <i><b>{{ animal.nom }}</b></i></h1>
        {{ form(formulaire) }}
    </div>
{% endblock %}