{% extends 'base.html.twig' %}

{% block title %}Supprimer un animal{% endblock %}

{% block body %}
    <div class="container">
        <h1>Es-tu sur de vouloir supprimer l'animal : <i><b>{{ animal.nom }}</b></i> ?</h1>
        {{ form(formulaire) }}
        {# je vais mettre le bouton retour #}
        <a href="{{ path("app_enclos_animal", {"id": animal.enclos.id}) }}" class="btn btn-success">Non</a>
    </div>
{% endblock %}