{% extends 'base.html.twig' %}

{% block title %}Supprimer un enclos{% endblock %}

{% block body %}
    <div class="container">
        <h1>Es-tu sur de vouloir supprimer l'enclos : <i><b>{{ enclos.nom }}</b></i> ?</h1>
        {{ form(formulaire) }}
        {# je vais mettre le bouton retour #}
        <a href="{{ path("app_espace") }}" class="btn btn-success">Non</a>
        {% if error == "1" %}
            <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
                <i class="bi-exclamation-octagon-fill"></i>
                <strong class="mx-2">Erreur!</strong> Tu ne peux pas supprimer l'enclos car il y a encore un animal dedans
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endif %}
    </div>
{% endblock %}