{% extends 'base.html.twig' %}

{% block title %}Modifier un espace{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier l'espace : <i><b>{{ espace.nom }}</b></i></h1>
        {{ form(formulaire) }}
        {% if error == "1" %}
            <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
                <i class="bi-exclamation-octagon-fill"></i>
                <strong class="mx-2">Erreur!</strong> tu ne peux pas mettre de date de fermeture avant de mettre une date d'ouverture
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endif %}
        {% if error == "2" %}
            <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
                <i class="bi-exclamation-octagon-fill"></i>
                <strong class="mx-2">Erreur!</strong> Ta date de fermeture est plus tôt que ta date d'ouverture
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endif %}
        {% if error == "3" %}
            <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
                <i class="bi-exclamation-octagon-fill"></i>
                <strong class="mx-2">Erreur!</strong> Tu doit avoir une date d'ouverture pour avoir une date de fermeture
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endif %}
    </div>
{% endblock %}