{% extends 'base.html.twig' %}

{% block title %}Voir animal de l'espace{% endblock %}

{% block body %}
    <div class="container">
        <h1>Voir animal de l'espace {{ espace.nom }}</h1>
    </div>
{% endblock %}